.testFilter {
   
}

.suggestions{
    background-color: aqua;
    cursor: pointer;
}

.suggestions:hover{
    background-color: beige;
}

select option {
    background-color: #4b8972;
}

.MuiAutocomplete-option[data-focus="true"] {
    background: #000;
}