.footprints {
    margin-bottom: 40px;
}

.fp-icon {
    height: 300px;
    width: 100px;
    overflow: hidden;
    margin-left: 75px;
}

.list-item {
    text-align: left;
}

.list-item:hover {
    background-color: #c3d5da;
    color: #486e6efa;
    border-radius: 2%;
}

.card-title {
    color: white;
}