.navbar-links {
    text-decoration: none;
}

.log-out:hover{
    cursor: pointer;
}

.full-navbar {
    margin-bottom: 20px;
    background-color: white;
}

.logo-app-nav {
    width: 80%;
}

.links-navbar {
    color: black !important;
}