.comment-box {
    width: 300px;
    background-color: grey;
    color: white;
}

.textarea:focus .comment-box:focus {
    outline-color: blue;
}

.user-section{
    margin-bottom: 50px;
    margin-top: 50px;
}

.profileAndComments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-button {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.profile-card {
    border-radius: 50%;
}
.profile-image {
    border-radius: 50%;

}

h2 {
    font-size: 5em;
    color: white;
    font-weight: bolder;
}