.comment-box {
    margin-top: 20px;
    width: 300px
}

 .comments-card {
     margin: 10px;
 }

.user-section{
    margin-bottom: 50px;
}

.profileAndComments {
    width: fit-content;
}

.main-info {
    display: flex;
    flex-direction: row;
}

.user-footprints {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}