footer {
    background-color: white;
    color: black;
    font-size: .6em;
    text-align: center;
    display:flex;
    flex-direction: row;
    
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

.logo-app {
    width: 60%;
    display: flex;
    align-items: center;    
}